# === Node/NestJS ===
node_modules/
dist/
build/
.tmp/
temp/
.tmp-cache/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage & test outputs
coverage/
.nyc_output/
junit.xml

# Caches
.eslintcache
.cache/
.parcel-cache/
.sass-cache/

# OS files
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.iml

# Env (örnek dosyaları tut)
.env
.env.*
!.env.example
!.env.*.example

# Docker - yerel veri klasörleri (varsa)
docker-data/
docker/**/data/
docker/**/volumes/

# GraphQL (code-first autoSchemaFile üretimi)
schema.gql

# TypeORM / DB artifaktları (ihtimale karşı)
ormlog.log
*.sqlite
*.sqlite-journal

# Misc
*.pid
*.pid.lock
*.swp
*.swo
